{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

<!-- replace everything below with: -->
{% block content %}
    <nav class='index_nav'> 
        <div class="container">
            <a class='contenedor_logo' href="">
                <img class='logo' src='../../../media/images/pythochita_blanco.max-165x165.png'>
            </a>
            <ul class='navbar'>
                <li><a href="">Speakers</a></li>
                <li><a href="">Cronograma</a></li>
                <li><a href="">Sponsors</a></li>
                <li><a href="">COC</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </nav>
    
    <div class='boddy1'>
        {{ page.body|richtext }}
        {{ page.body2|richtext }}
    </div>
{% endblock %}
