body {
    background-color: rgb(50, 2, 45);
    color: azure;
}

nav{
    width: 100%;
}

.container{
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}